﻿.navbar-custom .navbar-brand{
    font-family:"Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.navbar-custom.affix, .navbar-custom.affix-top{
	background-color: #552700;
}

footer, .section-heading{
	color: #552700;
}
ul.social-buttons li a{
	background-color: #552700;
}